<div class="container-card">
  <div class="card-carousel">
    @for (item of cardData; track item.id) {
      <mat-card class="dish-card" appearance="outlined">
        <div appLazyImage 
             [appLazyImage]="item.image_url"
             [appLazyImageOptions]="{ quality: 0.8, maxWidth: 400, maxHeight: 300, generateThumbnail: true, thumbnailSize: 150 }"
             class="dish-image-container" (click)="navigationToDetail(item.id)">
        </div>
        <mat-card-content (click)="navigationToDetail(item.id)">
          <h2 class="dish-title">{{ item.title }}</h2>

          <p class="dish-description">
            {{ item.description }}
          </p>
        </mat-card-content>


        <!-- Độ khó & Thời gian nấu -->
        <div class="dish-info-row" (click)="navigationToDetail(item.id)">
          <span class="difficulty-label" [ngClass]="getDifficultyClass(item.difficulty)">
            {{ getDifficultyLabel(item.difficulty) }}
          </span>
          <span class="cooktime-label">
            <mat-icon style="font-size:18px;vertical-align:middle;">schedule</mat-icon>
            {{ item.total_cooking_time }} minutes
          </span>
        </div>

        <!-- ❤️ Footer -->
        <mat-card-actions class="card-footer">
          <div class="user-info">
            <div class="avatar-container">
              <img [src]="item.user?.avatar_url" alt="{{ item.user?.username }}" />
            </div>
            <span class="username">{{ item.user?.username }}</span>
          </div>
          <div class="actions">
            <mat-icon (click)="toggleFavorite(item)" [style.color]="item.isFavorite ? 'red' : '#666'">
              {{ item.isFavorite ? 'favorite' : 'favorite_border' }}
            </mat-icon>
            <mat-icon (click)="shareRecipe(item)" style="cursor:pointer">share</mat-icon>
          </div>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</div>
