<div class="chat-window">
  <!-- Header -->
  <div class="chat-header">
    <button class="back-btn" (click)="onBack()" aria-label="Back"></button>
    <img [src]="user.avatar" class="avatar" />
    <div class="name">{{ user.name }}</div>
   <!-- <div class="options">⋮</div>-->
  </div>

  <!-- Messages -->
  <div class="chat-messages">
    @for (msg of messages; track msg.id) {
      <app-message-item
        [message]="msg"
        [currentUserId]="currentUserId">
      </app-message-item>
    } @empty {
      <div class="no-messages">Chưa có tin nhắn nào</div>
    }
  </div>

  <!-- Input -->
  <div class="chat-input">
    <div class="chat-input-box">
      <input
        matInput
        placeholder="Write a message..."
        [(ngModel)]="newMessage"
        name="messageInput"
        (keyup.enter)="sendMessage()"
      />
    </div>

    <button mat-icon-button color="primary" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>

</div>
