<div class="comments-section">
  <h1>Comments</h1>

  <!-- Input giống YouTube -->
  <div class="comment-input">
    <img src="avatar.png" alt="user avatar" class="avatar">
    <input type="text" placeholder="Add your comment..." />
    <button class="send-btn">➤</button>
  </div>

  <hr>

  <!-- Comment giống Facebook -->
  <div class="comment">
    <img src="avatar.png" alt="user avatar" class="avatar">
    <div class="comment-body">
      <span class="user-name">User Name</span>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text.
        It has roots in a piece of classical Latin literature from 45 BC, making it over
        <strong>2000 years old</strong>.
      </p>
    </div>
  </div>

  <div class="comment">
    <img src="avatar.png" alt="user avatar" class="avatar">
    <div class="comment-body">
      <span class="user-name">Another User</span>
      <p>This is another sample comment styled like Facebook.</p>
    </div>
  </div>
</div>

