<div class="content-wrapper">
  <div class="image-title">
    <div class="carousel">
      <button class="carousel-nav prev" (click)="prevImage()">&#10094;</button>
      <img
        class="carousel-image"
        [src]="carouselImages[currentImageIndex]"
        alt="carousel"
      />
      <button class="carousel-nav next" (click)="nextImage()">&#10095;</button>
    </div>
  </div>

  <h3>Recipe Categories</h3>
  <div class="container-image-categories">
    @for (category of category$ | async; track category.id; let i = $index) {
      <h2 [class]="'dish-type-' + (i + 1)" (click)="categoryClick(category)">
        <span>{{ category.name }}</span>
      </h2>
    }
  </div>

  <div class="section-header">
    <h3>Today's Dish</h3>
    <button class="view-all-btn" (click)="nextTodayDish()">
      <span>See All</span>
      <span class="arrow">&#10095;</span>
    </button>
  </div>
  <div class="container-card">
      @if (paginatedRecipes) {
  <app-card [cardData]="paginatedRecipes.data"></app-card>
}
  </div>

  <div class="section-header">
    <h3>Main courses</h3> 
    <button class="view-all-btn" (click)="viewAllMainCourses()">
      <span>See All</span>
      <span class="arrow">&#10095;</span>
    </button>
  </div>

<div class="container-card">
  @if (mainCourses && mainCourses.length > 0) {
    <app-card [cardData]="mainCourses"></app-card>
  }
</div>


  <div class="section-header">
    <h3>Beverages</h3>
    <button class="view-all-btn" (click)="viewAllBeverages()">
      <span>See All</span>
      <span class="arrow">&#10095;</span>
    </button>
  </div>
  <div class="container-card">
    @if (beverages && beverages.length > 0) {
      <app-card [cardData]="beverages"></app-card>
    }
  </div>

  <div class="section-header">
    <h3>Desserts</h3>
    <button class="view-all-btn" (click)="viewAllDesserts()">
      <span>See All</span>
      <span class="arrow">&#10095;</span>
    </button>
  </div>
  <div class="container-card">
    @if (desserts && desserts.length > 0) {
      <app-card [cardData]="desserts"></app-card>
    }
  </div>

  <div class="section-header">
    <h3>Snacks</h3>
    <button class="view-all-btn" (click)="viewAllSnacks()">
      <span>See All</span>
      <span class="arrow">&#10095;</span>
    </button>
  </div>
  <div class="container-card">
    @if (snacks && snacks.length > 0) {
      <app-card [cardData]="snacks"></app-card>
    }
  </div>
</div>
