<div class="sidebar">
    <div class="logo-section">
        <img src="assets/logo.png" class="logo" />
    </div>
    <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon>home</mat-icon>
            <span>{{ 'Home' | translate }}</span>
        </a>
        <a mat-list-item routerLink="/search" routerLinkActive="active">
            <mat-icon>search</mat-icon>
            <span>{{ 'Search Recipes' | translate }}</span>
        </a>
        <a mat-list-item routerLink="/faq" routerLinkActive="active">
            <mat-icon>help</mat-icon>
            <span>{{ 'FAQ'  }}</span>
        </a>

        @if (isLoggedIn) {
            <a mat-list-item routerLink="/my-recipe" routerLinkActive="active">
                <mat-icon>person</mat-icon>
                <span>{{ 'My Recipes' | translate }}</span>
            </a>
            <a mat-list-item routerLink="/my-favourite-recipe" routerLinkActive="active">
                <mat-icon>campaign</mat-icon>
                <span>{{ 'My Favorites Recipe' | translate }}</span>
            </a>
            <a mat-list-item routerLink="/message" routerLinkActive="active">
                <mat-icon>mail</mat-icon>
                <span>{{ 'Messages' | translate }}</span>
            </a>
            <!-- <a mat-list-item routerLink="/notifications" routerLinkActive="active">
                <mat-icon>notifications</mat-icon>
                <span>{{ 'Notifications' | translate }}</span>
            </a> -->
        }
    </mat-nav-list>
    @if (isLoggedIn) {
        <div class="logout-section">
            <button mat-stroked-button color="primary" class="logout-btn" (click)="onLogout()">
                <mat-icon>logout</mat-icon>
                {{ 'Log out' | translate }}
            </button>
        </div>
    }
</div>
