<div class="container-right">
  <div class="top">
    <h1 class="t1">About Us</h1>
    <p class="headtext1">Our mission is to inspire food lovers by sharing easy-to-follow recipes, useful cooking tips, and creative ideas, bringing joy to every meal for everyone</p>
  </div>

  <div class="middle">
    <div class="box">
      <h1 class="t2">Benifits of choosing YumShare</h1>
      <div class="big-group">
        <div class="group1">
          <img class="pic" src="https://images.unsplash.com/photo-1532980400857-e8d9d275d858?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZCUyMHBob3RvZ3JhcGh5fGVufDB8fDB8fHww">
          <div class="chat1">
            <p>A diverse recipe collection</p>
          </div>
        </div>

        <div class="group2">
          <img class="pic" src="https://media.gettyimages.com/id/1371167585/video/tasty-steak.jpg?s=640x640&k=20&c=Syv6Iz0ML5g5-a2cYVPWXPxCWNZFGh0Zq9f4O27Dg0o=">
          <div class="chat2">
            <p>Step-by-step instructions</p>
          </div>
        </div>

        <div class="group3">
          <img class="pic" src="https://c0.wallpaperflare.com/preview/411/284/1003/interior-tech-technology-coffee.jpg">
          <div class="chat3">
            <p>Smart search</p>
          </div>
        </div>

        <div class="group4">
          <img class="pic" src="https://visitorlando.widen.net/content/kflbimznxq/jpeg/1577-veal-chop.jpg?position=c&crop=true&color=ffffff&quality=8&w=640&h=640&q=65">
          <div class="chat4">
            <p>Sharing community</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="bottum-pic">
    <img class="contact-pic" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D">
    </div>
    <div class="contact">
      <div class="above">
        <h1>Contact Us</h1>
        <p>Please leave your information if you have any questions, We will contact and answer all of your inquiries</p>
      </div>
      <div class="under">
        <input #nameInput class="type-in" matInput placeholder="Name" [(ngModel)]="name" (keydown.enter)="emailInput.focus()" />
<input #emailInput class="type-in" matInput placeholder="Email" [(ngModel)]="email" (keydown.enter)="phoneInput.focus()" />
<input #phoneInput class="type-in" matInput placeholder="Phone" [(ngModel)]="phone" (keydown.enter)="messageInput.focus()" />
<input #messageInput class="type-in" matInput placeholder="Message" [(ngModel)]="message" (keydown.enter)="submitButton.focus()" />
<button #submitButton class="submit-button" mat-flat-button (click)="onSubmit()" [disabled]="!isFormValid">Submit</button>
      </div>
    </div>
  </div>
</div>
@if (showSuccess) {
  <div class="center-toast" (click)="showSuccess = false">
    <div class="toast-content" (click)="$event.stopPropagation()">
      <span>Ý kiến của bạn đã được tiếp nhận!</span>
    </div>
  </div>
}