<div class="container-right">
  <div class="top">
    <h1 class="t1">About Us</h1>
    <p class="headtext1">Our mission is to inspire food lovers by sharing easy-to-follow recipes, useful cooking tips, and creative ideas, bringing joy to every meal for everyone</p>
  </div>

  <div class="middle">
    <div class="box">
      <h1 class="t2">Benifits of choosing YumShare</h1>
      <div class="big-group">
        <div class="group1">
          <img class="pic" src="assets/photo-1.jpg">
          <div class="chat1">
            <p>A diverse recipe collection</p>
          </div>
        </div>

        <div class="group2">
          <img class="pic" src="assets/photo-2.jpg">
          <div class="chat2">
            <p>Step-by-step instructions</p>
          </div>
        </div>

        <div class="group3">
          <img class="pic" src="assets/photo-3.jpg">
          <div class="chat3">
            <p>Smart search</p>
          </div>
        </div>

        <div class="group4">
          <img class="pic" src="assets/photo-4.jpg">
          <div class="chat4">
            <p>Sharing community</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="bottum-pic">
    <img class="contact-pic" src="assets/photo-5.jpg">
    </div>
    <div class="contact">
      <div class="above">
        <h1>Contact Us</h1>
        <p>Please leave your information if you have any questions, We will contact and answer all of your inquiries</p>
      </div>
      <div class="under">
        <input class="type-in" matInput placeholder="Name" value="">
        <input class="type-in" matInput placeholder="Email" value="">
        <input class="type-in" matInput placeholder="Phone" value="">
        <input class="type-in" matInput placeholder="Message" value="">
        <button class="submit-button" mat-flat-button>Submit</button>
      </div>
    </div>
  </div>
</div>
